:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --bg-color: #ffffff;
  --supporting-color: #0284d0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ul */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* a */
.link {
  text-decoration: none;
  color: inherit;
}

/* img */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1360px;
  padding: 0 28px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER Styles */

.header {
  background-color: #5e5e5e;
}

.header .container {
  padding: 0 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.nav-list {
  display: flex;
  gap: 38px;
}

.accent {
  margin-right: 12px;

  color: var(--accent-color);
}

.nav-link {
  display: inline-block;
  padding: 21px 0;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* Hero Styles */

.hero {
  padding: 259px 0 284px;
  background-color: #5e5e5e;
  text-align: center;
}

.hero-title {
  margin-bottom: 45px;

  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;
}

.hero-description {
  margin-bottom: 29px;

  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
}

.hero-btn {
  display: inline-block;
  padding: 10px 30px 9px 41px;

  background-color: var(--accent-color);
  border-radius: 5px;

  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* About Styles */

.about {
  padding: 119px 0 19px;
  background-color: #f4f4f4;
}

.about .container {
  padding: 0 66px;
}

.about-list {
  display: flex;
  gap: 71px;
  text-align: center;
}

.about-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;

  margin-bottom: 16px;
}

.about-description {
  line-height: 1.56;
}

/* Solutions Styles */

.solutions .container {
  padding: 0;
  display: flex;
}

.solutions-wrapper {
  background-color: var(--accent-color);
  padding: 84px 44px 84px 30px;
  width: 50%;
}

.solutions-sub-title {
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.solutions-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}

.solutions-desciptions {
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.solutions-btn {
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;

  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 11px 27px 12px 42px;
  display: inline-block;
}

/* business cases styles */

.bcases {
  padding: 50px 0 48px;

  text-align: center;
  color: var(--primary-text-color);
}

.bcases-subtitle {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.65;
}

.bcases-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.bcases-desciptions {
  margin-bottom: 39px;

  line-height: 1.56;
}

.bcases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 8px;
}

/* blog post styles */

.blog-post {
  color: var(--secondary-text-color);
}

.blog-post-subtitle {
  font-size: 20px;
  line-height: 1.65;

  margin-bottom: 5px;
}

.blog-post-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  margin-bottom: 27px;
}

.blog-post-description {
  line-height: 1.56;
  width: 606px;

  margin-bottom: 16px;
}

.blog-post-btn {
  line-height: 1.56;

  display: inline-block;
  padding: 11px 31px 10px 42px;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
}

.blog-post .container {
  padding: 0;
  display: flex;
}

.blog-post-wrapper {
  background-color: var(--supporting-color);
  width: 50%;
  padding: 112px 30px 113px;
}

/* Team styles */

.team {
  padding-top: 49px;

  text-align: center;
}

.team-span {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.team-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team-descr {
  margin-bottom: 45px;

  font-weight: 400;
  line-height: 1.56;
}

.team-list{
  display: flex;
  gap: 19px;
}

.team-social {
  position: relative;
}

.team-social-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  gap: 25px;
  transition-duration: 1500ms;
}

.team-link:hover + .team-social-list {
  opacity: 1;
}

.team-wrapper {
  padding-top: 13px;
}

.team-name {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
}

.team-job-title {
  font-weight: 400;
  line-height: 1.56;
}
