:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --bg-color: #ffffff;
  --supporting-color: #0284d0;
  --duration: 250ms;
  --function-timing: cubic-bezier(0.075, 0.82, 0.165, 1);
}
