<section class="blog-post" id="blog">
  <div class="container">
    <div class="blog-post-wrapper">
      <p class="blog-post-subtitle">April 16 2020</p>
      <h2 class="blog-post-title">Blog Post One</h2>
      <p class="blog-post-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-post-btn link" href="#">Read Our Blog</a>
    </div>
    <img src="./images/blog-post-one.jpg" alt="notebooks and a cup of coffee" />
  </div>
</section>
