<section class="callback">
  <div class="container">
    <img
      class="callback-img"
      src="./images/imagecallback.jpg"
      alt="the user provides feedback"
      width="680"
      height="460"
    />

    <div class="callback-wrapper">
      <h2 class="callback-title">Request Callback</h2>
      <form class="callback-form" name="callback_form">
        <input
          class="callback-form-input"
          type="text"
          name="user_name"
          placeholder="Enter your name"
          minlength="2"
        />
        <input
          class="callback-form-input email"
          type="email"
          name="user_email"
          placeholder="Enter email*"
          required
        />
        <button class="callback-form-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
