<section class="bcases" id="cases">
  <div class="container">
    <p class="bcases-subtitle">This is what we do</p>
    <h2 class="bcases-title">Business Cases</h2>
    <p class="bcases-desciption">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="bcases-list list gallery">
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines1-3x.jpg">
          <img
            src="./images/business-cases/business-cases-1.jpg"
            alt="people in a meeting"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines2-3x.jpg">
          <img
            src="./images/business-cases/business-cases-2.jpg"
            alt="somebody writing notes"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines3-3x.jpg">
          <img
            src="./images/business-cases/business-cases-3.jpg"
            alt="partners shaking hands"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines4-3x.jpg">
          <img
            src="./images/business-cases/business-cases-4.jpg"
            alt="team folded their hands one on one"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines5-3x.jpg">
          <img
            src="./images/business-cases/business-cases-5.jpg"
            alt="woman working on laptop"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines6-3x.jpg">
          <img
            src="./images/business-cases/business-cases-6.jpg"
            alt="skyscrapers"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines7-3x.jpg">
          <img
            src="./images/business-cases/business-cases-7.jpg"
            alt="team working on project"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="bcases-item">
        <a href="./images/business-cases/big/bussines8-3x.jpg">
          <img
            src="./images/business-cases/business-cases-8.jpg"
            alt="happy people"
            width="320"
            height="214"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
