<section class="team">
  <div class="container">
    <p class="team-subtitle">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list team-list">
      <li class="team-item">
        <div class="team-social">
          <img
            src="./images/president.jpg"
            alt="Photo president"
            width="420"
            height="280"
          />
          <ul class="list team-social-list">
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-wrapper">
          <h3 class="team-name">John Doe</h3>
          <p class="team-job-title">President</p>
        </div>
      </li>
      <li class="team-item">
        <div class="team-social">
          <img
            src="./images/vice-president.jpg"
            alt="Photo vice president"
            width="420"
            height="280"
          />
          <ul class="list team-social-list">
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-wrapper">
          <h3 class="team-name">Jane Doe</h3>
          <p class="team-job-title">Vice President</p>
        </div>
      </li>
      <li class="team-item">
        <div class="team-social">
          <img
            src="./images/marketing-head.jpg"
            alt="Photo marketing head"
            width="420"
            height="280"
          />

          <ul class="list team-social-list">
            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a href="" class="link team-social-link">
                <svg width="35" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-wrapper">
          <h3 class="team-name">Steve Smith</h3>
          <p class="team-job-title">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
