.blog-post {
  color: var(--secondary-text-color);
}

.blog-post-subtitle {
  font-size: 20px;
  line-height: 1.65;

  margin-bottom: 5px;
}

.blog-post-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  margin-bottom: 27px;
}

.blog-post-description {
  line-height: 1.56;
  width: 606px;

  margin-bottom: 16px;
}

.blog-post-btn {
  line-height: 1.56;

  display: inline-block;
  padding: 11px 31px 10px 42px;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
}

.blog-post .container {
  padding: 0;
  display: flex;
}

.blog-post-wrapper {
  background-color: var(--supporting-color);
  width: 50%;
  padding: 112px 30px 113px;
}
