.bcases {
  padding: 50px 0 48px;

  text-align: center;
  color: var(--primary-text-color);
}

.bcases-subtitle {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.65;
}

.bcases-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.bcases-desciption {
  margin-bottom: 39px;
  line-height: 1.56;
}

.bcases-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 7px;
}

.bcases-item {
  flex-basis: calc((100% - 24px) / 4);
}
