.solutions .container {
  padding: 0;
  display: flex;
}

.solutions-wrapper {
  background-color: var(--accent-color);
  padding: 84px 44px 84px 30px;
  width: 50%;
}

.solutions-sub-title {
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.solutions-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}

.solutions-desciptions {
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.solutions-btn {
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;

  line-height: 1.56;
  color: var(--secondary-text-color);

  padding: 11px 27px 12px 42px;
  display: inline-block;
}
